/* Hero styles */
.hero {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: lightslategray;
    border-bottom: 2px solid black;
}

.hero__content {
    position: relative;
    padding: 3rem 0;
}

/* Typewriter Animation */
.typewriter {
    overflow: hidden;
    border-right: 3px solid transparent;
    white-space: nowrap;
    margin: 0 auto;
}

.animation-1 {
    animation:
        typing 2.5s steps(40, end),
        blink-caret .35s step-end 2;
}

.animation-2 {
    animation:
        typing 2.5s steps(40, end),
        blink-caret .35s step-end 3.6;
}

.animation-3 {
    animation:
        typing 2.5s steps(40, end),
        blink-caret .35s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

/* Navbar Animation */
.fade {
    animation-duration: 0.75s;
    animation-name: animate-fade;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-fill-mode: backwards;
    animation-delay: 2.6s;
}

.animate.glow {
    animation-name: animate-glow;
    animation-timing-function: ease;
    animation-delay: 3s;
}

@keyframes animate-fade {
    0% {
        opacity: 0;
        filter: brightness(3) saturate(3);
        transform: scale(0.8, 0.8);
    }

    100% {
        opacity: 1;
        filter: brightness(1) saturate(1);
        transform: scale(1, 1);
    }
}

@keyframes animate-glow {
    0% {
        opacity: 0;
        filter: brightness(3) saturate(3);
        transform: scale(0.8, 0.8);
    }

    100% {
        opacity: 1;
        filter: brightness(1) saturate(1);
        transform: scale(1, 1);
    }
}

/* Media Queries for Navbar @small resolutions */
@media screen and (max-width:490px) {
    .nav-bar {
        width: 71%
    }
}

@media screen and (max-width:345px) {
    .nav-bar {
        display: flex;
        flex-direction: column;
    }
}

/* Button Hover Color */
.hover {
    z-index: 998 !important;
}

.hover:hover {
    color: orange;
}